.new_post_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid black;
    padding: 10px;
    height: 400px;
    background-color: aqua;

}

.new_post_detail_fiel {

}

radio_group_button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid black;
    padding: 10px;
    height: 30px;
    background-color: green;
}